* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

#three-columns {
    width: auto;
}

.main {
    display: grid;
    grid-template-columns: auto;
    padding: 24px;
    list-style-type: none;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#more-info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

#pages {
    color: white;
}
 
#search {
    flex: 100%;
    input { 
        margin: 0px auto;
        display: block;
    }
}

#hero-1 {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../images/Fast-shutter_1-1.JPG);
    height: 24vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 48px;
}










