* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    
}
img {
    width: 100%;
}

#three-columns {
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    height: 100vh;

}

#sidebar {
    background: radial-gradient(at bottom left, lightblue, white);
    padding: 24px;
    overflow-y: scroll;
    img {
        width: 100%;
        display: block;
        border-radius: 25px;
    }
}

#main {
    background-color: white;
    flex: 1fr;
    padding: 48px;
    
}

#sidebar h2 {
    border-bottom: 0.5px solid purple;
    padding-bottom: 10px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0px;
    a {
        color: #111;
        text-decoration: none;
    }
    li {
        padding: 4px 0px;
    }
}


#checkout {
    list-style-type: none;
    display: grid;
}
#sidebar {
    list-style-type: none;
}
#more-info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}
&:hover &::after {
    animation-name: slide;
    animation-duration: 1s;
}
&::after {
    content: "";
    display: block;
    background-color: coral;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

header {
    background: radial-gradient(at top left, lightblue, white);
    padding: 10px;     
}
#cool {
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 
header img {
    width: 100px;
    display: flex;
}
#search {
    flex: 100%;
    input { 
        margin: 0px auto;
        display: block;
    }
}

header ul{
    list-style-type: none;
    
}




