* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: black;
}

.container {
    width: 95%;
    margin: 20px auto;
}
#navbar {
    background-color: black;
    .container {
        display: flex;
        align-items: center;
    }
    .drop-contain img {
        width: 150px;
        height: 350px;
        object-fit: cover;
    };
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding: 0px 24px;
}

.drop-contain {
    display: flex;
    justify-content: flex-start;
    position: relative;
    border: 2px 12px;
}
.drop-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.25s,
        visibility 0.25s
    ;
    height: 100%;
}
.drop-contain:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    background-color: black;
}
.drop-contain:last-child .drop-menu {
    right: 0px;
}

#navbar .drop-menu a {
    width: 100%;
    min-width: 200px;
    color: white;
    writing-mode: vertical-lr;

}
#navbar .drop-menu a:hover {
    color: black;
}

h3 {
    color: white;
    font-style: italic;
    font-size: 24px;
}
#hero-1 {
    background-image: url(../images/hamburger-494706_1280.jpg);
    width: 100vw;
    height: 800px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 48px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
}    
#hero-2, #hero-3 {
    display: flex;
    justify-content: center;
    
}
.images-container img {
    object-fit: contain;
    width: 400px;
    height: 400px;
}



