@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body {
    font-family: sans-serif;
    background-color: black;
}

.container {
    width: 95%;
    margin: 20px auto;
}

#navbar {
    background-color: black;
    .container {
        display: flex;
        align-items: center;
    }
    .drop-contain img {
        width: 150px;
        height: 350px;
        object-fit: cover;
    };
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding: 0px 24px;
    img {
        width: 125%;
    };
}
#navbar .container {
    align-items: flex-start;
}
#navbar .nav-img-links {
    display: flex;
}
.drop-contain {
    display: flex;
    justify-content: flex-start;
    position: relative;
    border: 2px 12px;
}
.drop-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.25s,
        visibility 0.25s
    ;
    height: 100%;
}
.drop-contain:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    background-color: black;
}

#navbar .drop-menu a {
    width: 100%;
    min-width: 200px;
    color: white;
    writing-mode: vertical-lr;
    font-size: 50px;
}
#navbar .drop-menu a:hover {

    display: block;
}

h3 {
    font-family: "Spicy Rice", serif;
    color: white;
    font-style: italic;
    font-size: 24px;
}
h3 .container {
    font-style: italic;
}
.btn {
    border: purple;
    border-radius: 50%;
}

#hero-1 {
    background-image: linear-gradient(to bottom,black,rgba(50, 50, 28, 0)), 
    url(../images/octopus-1921090_1280.jpg);
    width: 100vw;
    height: 200vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 48px;
    display: flex;
    flex-direction: column;
}
#hero-1 a {
    color: black;
    text-decoration: none;
    background-color: purple;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 30%;
    border: 3px solid purple;
    padding: 10px;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
    &:hover {
        background-color: transparent;
        color: white;
    } 
}

h1 {
    color: white;
    font-family: "Spicy Rice", serif;
}    
#hero-2 .container {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}
.images-container img {
    object-fit: contain;
    width: 400px;
    height: 400px;
}

.item p, h4 {
    color: white;
    text-align: center;
    text-decoration: none;
    font-style: italic;
}

.top-items-cuisines {
    text-align: center;
    margin-top: 10%;
}

.top-items-vegies {
    text-align: center;
    margin-top: 10%;
}

#hero-3 {
    background-image: 
    radial-gradient(at center, rgba(0, 0, 0, 0), rgb(0, 0, 0)), 
    url(../images/chef-spotlight-2.jpg);
    width: 80vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    color: white;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
#hero-3 a {
    color: black;
    text-decoration: none;
    background-color: purple;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 30%;
    border: 3px solid purple;
    padding: 10px;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
    &:hover {
        background-color: transparent;
        color: white;
    }    
}

.spotlight {
    text-align: center;
    margin-top: 10%;
}

.footer {
    color: white;
    display: flex;
    justify-content: column;
    text-align: center;
    margin-bottom: 3%;
    justify-content: space-evenly;
}

/* Menu section */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: black;
}

.container {
    width: 95%;
    margin: 20px auto;
}

#navbar {
    background-color: black;
    .container {
        display: flex;
        align-items: center;
    }
    .drop-contain img {
        width: 150px;
        height: 350px;
        object-fit: cover;
    };
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding: 0px 24px;
    img {
        width: 125%;
    };
}
#navbar .container {
    align-items: flex-start;
}

.drop-contain {
    display: flex;
    justify-content: flex-start;
    position: relative;
    border: 2px 12px;
}
.drop-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.25s,
        visibility 0.25s
    ;
    height: 100%;
}
.drop-contain:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    background-color: black;
}

#navbar .drop-menu a {
    width: 100%;
    min-width: 200px;
    color: white;
    writing-mode: vertical-lr;

}
#navbar .drop-menu a:hover {
    display: block;
}

h3 {
    color: white;
    font-style: italic;
    font-size: 24px;
}
h3 .container {
    font-style: italic;
}

#container-A {
    display: flex;
}
#hero-A {
    background-image: 
    radial-gradient(at center, rgba(0, 0, 0, 0), rgb(0, 0, 0)), 
    url(../images/186-1862489_mystic-hand-png-transparent-png.jpg);
    width: 60vw;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
#hero-A .drop-contain img a:hover {
    color: black;
}
#featured img {
    display: flex;
    width: 50vw;
}
#featured h3 {
    font-style: italic;
}
#hero-A .container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
} 
h1 {
    color: white;
}    
#hero-B .container {
    overflow-x: scroll;
}
#hero-B .container, #hero-C .container {
    display: flex;
    justify-content: center;
}
.images-container img {
    object-fit: contain;
    width: 400px;
    height: 400px;
}

#hero-B, #hero-C, #hero-D h1 {
    text-align: center;
}
.item p, h2 {
    color: white;
    text-align: center;
    text-decoration: none;
}

.top-items-cuisines, .top-items-cuisines-2, .top-items-desserts {
    text-align: center;
    margin-top: 10%;
}


#hero-C .container{
    overflow-x: scroll;
}

#hero-D .container {
    overflow-x: scroll;
}

.footer {
    color: white;
    display: flex;
    justify-content: column;
    text-align: center;
    margin-bottom: 3%;
    justify-content: space-evenly;
}

@media screen and (max-width: 1330px) and (min-width: 30px) {
    #navbar .container {
        flex-direction: column;
        align-items: center;
        .nav-img-links {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    #navbar #logo {
        margin: 0px auto;
        padding: 0px;
        img {
            width: 200px;
        }
    }
}

#copy-right {
    color: white;
    text-align: center;
}

