/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}
.mauve {
    background-color: #C25E5E;
    border-color: #C25E5E;
}
.blue {
    background-color: blue;
    border-color: blue;
}
.tetris-block-2 {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}
.blue {
    background-color: yellow;
    border-color: yellow;
}

.long {
    padding: 20px 52px;
}
.tetris-block-3 {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

